@font-face {
  font-family: 'anjoman-r';
  src: url(./fonts/Anjoman_Regular.ttf);
}

@font-face {
  font-family: 'anjoman-b';
  src: url(./fonts/Anjoman_bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'anjoman-r';
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bold{
  font-family: 'anjoman-b';
}